<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>メッセージ一覧</title>
  </head>
  <body>
    <h1>メッセージ</h1>
    <ul>
      <% for(let photo of photos){ %>
      <li><%= photo.message %></li>
      <% } %>
    </ul>
  </body>
</html>
